.slider-container {
  width: 500px;
  margin-left: 100px;
  float:left;
}

.slider {
  width: inherit;
  height: inherit;
  position: relative;
  overflow: hidden;
}

.thumbnails {
  text-align: center;
}
.thumbnails ul {
  list-style: none;
}
.thumbnails ul .active-thumb {
  opacity: 1;
}
.thumbnails ul li {
  display: inline-block;
  opacity: 0.5;
}
.thumbnails ul li img {
  width: 60px;
  height: 40px;
}

.img-message{
  position:relative;
  margin-top: -20px;
  background-color: black;
  color: white;
  text-align: center;
}
